extends layout

block content
  h2 #{title}.
  h3 #{message}
  p This map starts in Hereford. A bit too landlubberly so soon will get a boat and move to the carribean... 
  p and then the piracy will start
  #map.map
  script(src="/javascripts/piratemap.js")