extends layout
block content
  h2 #{title}.
  h3 #{message}
  p This map starts in Hereford. A bit too landlubberly so soon will get a boat and move to the Carribean... 
  p and then the piracy will start.  In real time... hopefully... ?
  #map.map
  script(src="/javascripts/piratemap.js")